.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background: rgb(213, 239, 255);
}

.player-card{
  margin: 10px;
  width: 15%;
  margin: 15px auto 15px auto;
  background: powderblue;
  color: white;
  border: 5px solid white;
  text-shadow: #081B33 1px 0 10px;
  box-shadow:  #081B33 1px 0 10px;
}


.player-container{
display: flex;
flex-flow: row wrap;  
background: rgb(213, 239, 255);
}

.dark-mode{
  background: #081B33;
  color:  #081B33;
  text-shadow: powderblue 1px 0 10px;
  box-shadow:  powderblue 1px 0 10px;
}

.card-dark-mode{
  color:  #081B33;
  border: 5px solid #081B33;
  text-shadow: powderblue 1px 0 10px;
  box-shadow:  powderblue 1px 0 10px;
}

.dm-Toggle{
border: none;
padding: .5rem 2rem .5rem 2rem;
margin: 20px;
color:  #081B33;
background: lightskyblue;
font-size: 1.2rem;
border-radius: 20px;
}